
@*
  _DefaultCategoriesComponent
*@

@model List<ResultCarDto>

<!-- Car categories Start -->
<div class="container-fluid categories py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">All <span class="text-primary">Vehicles</span></h1>
            <p class="mb-0">
                We list all our available cars for rent here. By checking the daily price, model, year, and other important details, you can choose the car that suits you best.
            </p>
        </div>

        <div class="categories-carousel owl-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var item in Model)
            {

                var averageRating = item.Reviews.Any() ? item.Reviews.Average(x => x.Rating) : 0;
                int fullStars = (int)averageRating; 
                bool hasHalfStar = (averageRating - fullStars) >= 0.5; 
                int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0); 

                <div class="categories-item p-4">
                    <div class="categories-item-inner">
                        <div class="categories-img rounded-top">
                            <img src="@item.ImageUrl" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="categories-content rounded-bottom p-4">
                            <h4>@item.Brand.BrandName @item.ModelName</h4>
                            <div class="categories-review mb-4">
                                <div class="me-3">
                                    @(item.Reviews.Any() ? averageRating.ToString("0.0") : "Not evaluated")
                                </div>
                                <div class="d-flex justify-content-center text-secondary">
                                    @for (int i = 0; i < fullStars; i++)
                                    {
                                        <i class="fas fa-star text-warning"></i> 
                                    }
                                    @if (hasHalfStar)
                                    {
                                        <i class="fas fa-star-half-alt text-warning"></i> 
                                    }
                                    @for (int i = 0; i < emptyStars; i++)
                                    {
                                        <i class="far fa-star text-secondary"></i> 
                                    }
                                </div>
                            </div>
                            <div class="mb-4">
                                <h4 class="bg-white text-primary rounded-pill py-2 px-4 mb-0">@item.Price ₺/Day</h4>
                            </div>
                            <div class="row gy-2 gx-0 text-center mb-4">
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-users text-dark"></i> <span class="text-body ms-1">@item.SeatCount Seat</span>
                                </div>
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-car text-dark"></i> <span class="text-body ms-1">@item.Transmission</span>
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-gas-pump text-dark"></i> <span class="text-body ms-1">@item.GasType</span>
                                </div>
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-car text-dark"></i> <span class="text-body ms-1">@item.Year</span>
                                </div>
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-cogs text-dark"></i> <span class="text-body ms-1">@item.GearType</span>
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-road text-dark"></i> <span class="text-body ms-1">@item.Kilometer K</span>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary rounded-pill d-flex justify-content-center py-3">Book Now</a>
                        </div>
                    </div>
                </div>
            }
        </div>
     

    </div>
</div>
<!-- Car categories End -->
