@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<!-- [ Main Content ] start -->
<div class="row">
    <!-- table card-1 start -->
    <div class="col-md-6 col-xl-6">
        <div class="card flat-card">
            <div class="row-table">
                <div class="col-sm-6 card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-user text-c-green mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>@ViewBag.TotalUserCount</h5>
                            <span>Total Number of Users</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa-regular fa-bookmark text-c-blue mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>@ViewBag.BrandCount</h5>
                            <span>Total Number of Brands</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-table">
                <div class="col-sm-6 card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa-solid fa-car text-c-red mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>@ViewBag.TotalCarCount</h5>
                            <span>Total Number of Cars</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-mail text-c-red mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>@ViewBag.TotalMessageCount</h5>
                            <span>Total Number of Messages</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- widget primary card start -->
        <div class="card flat-card widget-primary-card">
            <div class="row-table">
                <div class="col-sm-3 card-body">
                    <i class="feather icon-star-on"></i>
                </div>
                <div class="col-sm-9">
                    <h4>@ViewBag.TestimonialCount</h4>
                    <h6>Number of User Reviews</h6>
                </div>
            </div>
        </div>
        <!-- widget primary card end -->
    </div>
    <!-- table card-1 end -->
    <!-- table card-2 start -->
    <div class="col-md-6 col-xl-6">
        <div class="card flat-card">
            <div class="row-table">
                <div class="col-sm-6 card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa-regular fa-star text-c-yellow mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>@ViewBag.TotalBookingCount</h5>
                            <span>Total Number of Bookings</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa-regular fa-face-smile text-c-yellow mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>@ViewBag.DeclineBookingCount</h5>
                            <span>Declined Bookings</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-table">
                <div class="col-sm-6 card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa-regular fa-face-smile text-c-purple mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>@ViewBag.ApprovedBookingCount</h5>
                            <span>Approved Bookings</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa-regular fa-face-rolling-eyes text-c-purple mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>@ViewBag.WaitingBookingCount</h5>
                            <span>Pending Bookings</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- widget-success-card start -->
        <div class="card flat-card widget-purple-card">
            <div class="row-table">
                <div class="col-sm-3 card-body">
                    <i class="fas fa-trophy"></i>
                </div>
                <div class="col-sm-9">
                    <h4>@ViewBag.TestimonialAvarage / 5 </h4>
                    <h6>Average User Rating</h6>
                </div>
            </div>
        </div>
        <!-- widget-success-card end -->
    </div>
    <!-- table card-2 end -->
    <!-- prject ,team member start -->
    <div class="col-xl-6 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>Pending Reservation Requests</h5>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                            <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                            <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                            <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    Select
                                </th>
                                <th>Car</th>
                                <th>Pickup Date</th>
                                <th>Drop Off Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.BookingList)
                            {
                                <tr>
                                    <td>
                                        <div class="chk-option">
                                            <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-label"></span>
                                            </label>
                                        </div>
                                        <div class="d-inline-block align-middle">
                                            <img src="@item.User.ImageUrl" class="img-radius wid-40 align-top m-r-15">
                                            <div class="d-inline-block">
                                                <h6>@item.User.FirstName @item.User.LastName</h6>
                                                <p class="text-muted m-b-0">@item.PickUpLocation - @item.DropOffLocation</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@item.Car.Brand.BrandName @item.Car.ModelName</td>
                                    <td>@item.PickUpDateTime.ToString("dd.MM.yyyy")</td>
                                    <td>@item.DropOffDateTime.ToString("dd.MM.yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a href="/AdminBooking/Index" class="b-b-primary text-primary">List All Reservations</a>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12">
        <div class="card latest-update-card">
            <div class="card-header">
                <h5>Recently Added Cars</h5>
            </div>
            <div class="card-body">
                <div class="latest-update-box">
                    <div class="row p-t-30 p-b-30">
                        @foreach (var item in ViewBag.LastAddedCars)
                        {
                            <div class="col-12 mb-3">
                                <div class="row">
                                    <div class="col-auto text-right update-meta">
                                        <p class="text-muted m-b-0 d-inline-flex"></p>
                                        <i class="feather icon-award bg-twitter update-icon"></i>
                                    </div>
                                    <div class="col">
                                        <a href="#!">
                                            <h6>@item.Brand.BrandName @item.ModelName</h6>
                                        </a>
                                        <p class="text-muted m-b-0">Year: @item.Year - Price : @item.Price ₺</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <br />
            <div class="text-center">
                <a href="/AdminCar/Index" class="b-b-primary text-primary">List All Cars</a>
                <br />
                <br />
            </div>
        </div>
    </div>
    <!-- prject ,team member start -->
    <!-- Latest Customers start -->
    <div class="col-12">
        <div class="card table-card review-card">
            <div class="card-header borderless">
                <h5>Vehicle Reviews</h5>
            </div>
            <div class="card-body pb-0">
                <div class="review-block">
                    <div class="row d-flex flex-wrap">
                        @foreach (var item in ViewBag.TestimonialList)
                        {
                            <div class="col-sm-12 col-md-6 col-lg-4 d-flex mb-3">
                                <div class="d-flex w-100">
                                    <div class="p-r-0">
                                        <img src="@item.ImageUrl" alt="user image" class="img-radius profile-img cust-img m-b-15">
                                    </div>
                                    <div class="ml-3">
                                        <h6 class="m-b-15">@item.Name <span class="float-right f-13 text-muted"></span></h6>
                                        @for (int i = 1; i <= item.Review; i++)
                                        {
                                            <i class="feather icon-star-on f-18 text-c-yellow"></i>
                                        }
                                        @for (int i = 1; i <= (5 - item.Review); i++)
                                        {
                                            <i class="feather icon-star f-18 text-muted" style="opacity: 0.5;"></i>
                                        }
                                        <p class="m-t-15 m-b-15 text-muted">@item.Comment</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest Customers end -->

</div>
